/*-----UTILYTIES----- */

.my-padding {
    padding: 10px;
}


/*-----HEADER-----*/

header {
    background-image: url(../img/wall.png);
}

h1 {
    font-family: Oswald;
    font-size: 80px;
    font-weight: 400;
    color: black;
    padding: 15px;
}


/*-----MAIN-----*/

body {
    background-image: url(../img/cork.png);
}

/*-----PING-----*/
.ping {
    width: 35px;
    position: absolute;
    z-index: 1;
    left: 26%;
    top: 15%;
}