/*-----UTILITIES----- */

.my-padding {
    padding: 10px;
}


/*-----HEADER-----*/

header {
    background-image: url(../img/wall.png);
}

h1 {
    font-family: Edu tas Beginner;
    font-size: 80px;
    font-weight: 600;
    color: black;
    padding: 15px;
}


/*-----MAIN-----*/

body {
    background-image: url(../img/cork.png);
}

/**PING**/
.ping {
    width: 35px;
    position: absolute;
    z-index: 1;
    left: 26%;
    top: 17%;
}

/**CARD BODY**/
.my-text {
    font-size: 30px;
    font-weight: bolder;
    font-family: Edu tas Beginner;
}

.my-data {
    font-family: Sometipe mono;
    font-size: 20px;
    color: gray;
}